<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>Edit profile</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="flex card-content">
            <div class="image-edit">
                <img [src]="avatarUrl || '../../../assets/not-image.png'" alt="">
                <input id="fileInput" type='file' (change)="onSelectFile($event)">
            </div>
            <div class="box">
                <form [formGroup]="form">

                    <mat-form-field appearance="fill">
                        <mat-label>First name</mat-label>
                        <input type="text" matInput formControlName="firstName" placeholder="First name" value="">
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                        <mat-label>Last name</mat-label>
                        <input type="text" matInput formControlName="lastName" placeholder="Last name" value="">
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                        <mat-label>Country</mat-label>
                        <mat-select formControlName="country">
                          <mat-option>None</mat-option>
                          <mat-option *ngFor="let state of countries" [value]="state">{{state}}</mat-option>
                        </mat-select>
                      </mat-form-field>

                    <mat-form-field appearance="fill">
                        <mat-label>City</mat-label>
                        <input type="text" matInput formControlName="city" placeholder="City" value="">
                    </mat-form-field>

                    <mat-radio-group formControlName="gender" aria-label="Select an option">
                        <mat-radio-button value="Male">Male</mat-radio-button>
                        <mat-radio-button value="Female">Female</mat-radio-button>
                    </mat-radio-group>
                    
                </form>
            </div>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <button (click)="submit(form.value)" mat-raised-button color="primary">SAVE</button>
    </mat-card-actions>
</mat-card>