.example-card{
  width: 600px;
  height: 436px;
}
 
form {
    width: 400px;
}

.box{
  font-size: 18px;
 img {
    height: 38px;
    align-self: center;
    margin-bottom: 20px;
  }
}

.image-edit img{
    height: 300px;
    width: 300px;
    object-fit: cover;
    margin-right: 50px;
}